# ignore the bin directory of swfs, and swcs
bin/
bin-debug/
bin-release/
target/
html-template/

# ignore generated build crap
build.number

# ignore the asdoc output
doc/

# ignore the eclipse .settings folder, irrelevant
.settings/

# ignore generated FlexUnit apps
FlexUnitCompilerApplication.mxml
FlexUnitApplication.mxml
.FlexUnitSettings


# MacOS junk
.DS_Store